<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMMk-5Anrp0qE4xqkh8C0PsyUax1x-Qpg</string>
	<key>GCM_SENDER_ID</key>
	<string>532605184931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.xenex.xengistic.app</string>
	<key>PROJECT_ID</key>
	<string>logistic-9d758</string>
	<key>STORAGE_BUCKET</key>
	<string>logistic-9d758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532605184931:ios:b2065deb52c32ded3d4816</string>
</dict>
</plist>